<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <div class="titulo">
      Cara ou Coroa
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div clas="container-coin">
      <img [src]="image" alt="">
      <h1  class="ion-text-center">{{info}}</h1>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="btn">
    <ion-title class="ion-text-center">
      Jogar a moeda
    </ion-title>
  </ion-toolbar>
</ion-footer>
