<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Dado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="input">
    <ion-input>Tamanho: <span></span></ion-input>
  </div>

  <div class="img">
    <img src="assets/dado4.png" alt="">
  </div>

  <div class="dado">
    <h1>Valor do dado: <span>{{ valordado }} </span></h1>
  </div>

  <div class="jogardado" class="ion-text-center">
    <ion-button class="btn" class="botaolimpar" color="corlimpar">Jogar Dado!</ion-button>
  </div>
</ion-content>
